@import "tailwindcss";

@font-face {
    font-family: Inter-Regular;
    src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: Inter-Light;
    src: url("./assets/fonts/Inter_18pt-Light.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("./assets/fonts/Inter_18pt-Bold.ttf");
}

@font-face {
    font-family: Inter-Light-Italic;
    src: url("./assets/fonts/Inter_18pt-LightItalic.ttf");
}

@theme {
    --font-inter-regular: Inter-Regular, "sans-serif";
    --font-inter-light: Inter-Light, "sans-serif";
    --font-inter-bold: Inter-Bold, "sans-serif";
    --font-inter-light-italic: Inter-Light-Italic, "sans-serif";

    --color-primary: #0853c5;
}
